body {
	font-family: 'Arial', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f7f7f7;
}

.header {
	background-color: #2c3e50;
	color: white;
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
	display: flex;
	align-items: center;
}

.logo-img {
	width: 50px;
	height: 50px;
	margin-right: 10px;
}

nav ul {
	list-style-type: none;
	display: flex;
}

nav ul li {
	margin-right: 20px;
}

nav a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	transition: color 0.3s ease;
}

nav a:hover {
	color: #3498db;
}

.welcome {
	text-align: center;
	margin: 20px 0;
}

.main-content {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 20px;
}

.project-details,
.team-members,
.responsibilities {
	background-color: #ffffff;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 30%;
}

.project-details h3,
.team-members h3,
.responsibilities h3 {
	color: #2c3e50;
}

.member-responsibility {
	margin-bottom: 20px;
}

.footer {
	background-color: #2c3e50;
	color: white;
	text-align: center;
	padding: 15px;
	position: fixed;
	bottom: 0;
	width: 100%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}